include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include zynox_flex *.css
recursive-include zynox_flex *.csv
recursive-include zynox_flex *.html
recursive-include zynox_flex *.ico
recursive-include zynox_flex *.js
recursive-include zynox_flex *.json
recursive-include zynox_flex *.md
recursive-include zynox_flex *.png
recursive-include zynox_flex *.py
recursive-include zynox_flex *.svg
recursive-include zynox_flex *.txt
recursive-exclude zynox_flex *.pyc